def DEFAULT_CPUS   = '2'
def DEFAULT_MEMORY = '3 GB'

process {

  withName: 'GATK4_INTERVALLISTTOBED' {
    memory = DEFAULT_MEMORY
  }

  withName: 'FASTQC' {
    cpus = DEFAULT_CPUS
    memory = DEFAULT_MEMORY
  }

  withName: 'BWAMEM1_MEM' {
    memory = DEFAULT_MEMORY
    cpus = DEFAULT_CPUS
  }

  withName: 'GATK4_MARKDUPLICATES' {
    memory = DEFAULT_MEMORY
    cpus = DEFAULT_CPUS
  }

  withName: 'MOSDEPTH' {
    memory = DEFAULT_MEMORY
    cpus = DEFAULT_CPUS
  }

  withName: 'STRELKA_SINGLE' {
    memory = DEFAULT_MEMORY
    cpus = DEFAULT_CPUS
  }

  withName: 'MULTIQC' {
    memory = DEFAULT_MEMORY
    cpus = DEFAULT_CPUS
  }

  withName: 'FASTP' {
    memory = DEFAULT_MEMORY
    cpus = DEFAULT_CPUS
  }

  withName: 'BWAMEM1_INDEX' {
    memory = DEFAULT_MEMORY
  }

  withName: 'SAMTOOLS_STATS' {
    memory = DEFAULT_MEMORY
  }

}
