process {
//  errorStrategy = 'ignore'

  withName: 'GATK4_INTERVALLISTTOBED' {
    memory = '6 GB'
  }

  withName: 'FASTQC' {
    cpus = '2'
  }

  withName: 'BWAMEM1_MEM' {
    memory = '4 GB'
    cpus = '2'
  }

  withName: 'GATK4_MARKDUPLICATES' {
    memory = '4 GB'
    cpus = '2'
  }

  withName: 'MOSDEPTH' {
    memory = '4 GB'
    cpus = '2'
  }

  withName: 'STRELKA_SINGLE' {
    memory = '4 GB'
    cpus = '2'
  }

  withName: 'MULTIQC' {
    memory = '4 GB'
    cpus = '2'
  }

}
